<ng-content select="h1"></ng-content>
<p [ngClass]="{'active': valor, 'disabled': !valor}">Alterando atributos de classe css</p>
<p [ngStyle]="{'height': heightPx, 'background': background}">Alterando atributos no HTML</p>

<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<div *ngIf="nome != 'limpar'">
  <li *ngFor="let item of list">{{item.nome}}</li>
</div>  

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<ng-template ngFor let-item [ngForOf]="list">
  <p>{{item.nome}}</p>
</ng-template>
<ng-content select="h3"></ng-content>
