<h2>Interpolation</h2>
<p> {{ nome }} tem {{ idade }} anos. </p>
<p> {{ nome }} tem mais de 40 anos? </p>
<p> {{ idade > 40 }} </p>
<p> {{ idade + 1 }} </p>
<br>
<br>
<h2>Property Binding</h2>
<button [disabled]="checkedDisabled">Button</button>
<img [src]="imgSrc" [alt]="descricao">
<br>
<br>
<h2>Event Binding</h2>
<button (click)="alertaInfo($event)">Evento</button>
<div (mousemove)="mouseMoveTeste($event)" style="background: red; width: 300px; height: 300px"></div>
{{ position.x }} - {{ position.y }}
<br>
<br>
<h2>Two-Way Binding</h2>
<input [(ngModel)]="nome">
{{ nome }}
<br>
<br>